<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (products.length > 0) {%> 
            <ul>
                <% products.forEach( resProd => {%>
                    <div>
                        <li>
                            <h1><%= resProd.title %></h1>
                            <p>Quantity: (<%= resProd.cartItem.quantity %>)</p>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" value="<%= resProd.id %>" name="productId">
                                <button class="btn" type="submit">Delete</button>
                            </form>
                        </li>
                    </div>
                <%}) %>
            </ul>
            <form action="/create-order" method="POST">
                <button type="submit" class="btn">Order Now</button>
            </form>
        <%} else {%>
            <h1>No Products find in Cart</h1>
        <%} %>
    </main>
<%- include('../includes/end.ejs') %>